/* ============================
   Estilos generales
============================ */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f5f5f5;
}

/* ============================
   Encabezado
============================ */

header {
    background-color: #8B0000;
    color: white;
    text-align: center;
    padding: 25px;
}

/* ============================
   Menú navegación
============================ */

nav {
    background-color: #333;
}

.menu-nav {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin: 0;
}

.menu-nav li {
    margin: 0 15px;
}

.menu-nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 14px;
    border-radius: 6px;
    transition: 0.3s;
}

.menu-nav a:hover {
    background-color: #555;
}

.menu-nav .activo {
    background-color: #8B0000;
}

/* ============================
   Contenido principal
============================ */

main {
    padding: 30px;
}

main h2 {
    text-align: center;
    margin-bottom: 30px;
}

/* ============================
   Cards del menú
============================ */

.menu-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;

    /* sombra */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);

    /* animación */
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.03);
}

.card h3 {
    margin-top: 0;
    color: #8B0000;
}

.precio {
    font-size: 18px;
    font-weight: bold;
    color: green;


}



footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
